.card-container {
  width: 100%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 75%;
}
.card-title {
  font-family: var(--baseFont);
  font-weight: var(--bodyWeight);
  color: var(--darkBrown);
}
.list-group > .list-group-item {
  font-family: var(--baseFont);
  font-weight: var(--bodyWeight);
  color: var(--darkBrown);
}
.list-group .list-group-item ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.type {
  font-weight: var(--headingWeight);
  text-transform: capitalize;
}
