@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Poppins:wght@300;400;500&display=swap");

:root {
  /* Colour Palette  */
  --red: #d80000;
  --darkBrown: #281713;

  /* Font */
  --headingFont: "Poppins", sans-serif;
  --bodyFont: "Open Sans", sans-serif;
  --baseFontSize: 120%;
  --headingWeight: 500;
  --bodyWeight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--red) !important;
  font-size: var(--baseFontSize);
  font-family: var(--bodyFont);
  font-weight: var(--bodyWeight);
}
.container {
  max-width: 100%;
  margin: 85px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
