@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

:root {
  /* Colour Palette  */
  --red: #d80000;
  --darkBrown: #281713;

  /* Font */
  --baseFont: "Open Sans", sans-serif;
  --baseFontSize: 120%;
  --bodyWeight: 400;
  --headingWeight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--red) !important;
}
.container {
  max-width: 100%;
  margin: 85px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
